<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device width, initial scale =1">
    <meta name="author" content="Roberta">
    <meta name="description" content="Get all top headlines from TechCrunch.com here!">
    <title>User added news</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/app/Views/Style/favicon-16x16.png">
    <link rel="stylesheet" href="/app/Views/Style/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">

<body>
<header class="header-left">
    <h1 class="site-title">User created news</h1>
</header>

<a href="/?category=general" class="nav">Home</a>

{% if articles is empty %}
    <div class="empty-box">
        <h3 class="empty">Sorry, there are no articles yet.</h3>
    </div>

{% else %}

{% for article in articles %}
<div class="row">
    <div class="column">
        <div class="card">
            <img src="{{ article.urlToImage }}" class="card-img-top" alt="">
            <h2 class="card-title"><a href="{{ article.url }}" target="blank">{{ article.title }}</a></h2>
        </div>
    </div>
    {% endfor %}
</div>

{% endif %}

<footer>
    <h3 class="go-back"><a href="#">Back to top</a></h3>
</footer>
</body>
</html>