<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device width, initial scale =1">
    <meta name="author" content="Roberta">
    <meta name="description" content="Get all top headlines from TechCrunch.com here!">
    <title>Top news from TechCrunch</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/app/Views/Style/favicon-16x16.png">
    <link rel="stylesheet" href="/app/Views/Style/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,700&family=Saira:ital,wght@0,100;1,400&display=swap" rel="stylesheet">
</head>

<body>
<header class="header-left">
    <h1 class="site-title">Added articles: </h1>
</header>

{% for article in articles %}

<div class="row">
    <div class="column">
        <div class="card">
            <img src="{{ article.urlToImage }}" class="card-img-top" alt="a beautiful image">
            <h2 class="card-title"><a href="{{ article.url }}" target="blank">{{ article.title }}</a></h2>
            <p class="card-text">{{ article.description }}</p>

        </div>
    </div>
    {% endfor %}
</div>

<footer>
    <h3 class="go-back"><a href="#">Back to top</a></h3>
</footer>
</body>
</html>
