<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "utf-8">
    <meta name = "viewport" content = "width = device width, initial scale =1">
    <title>Top news from TechCrunch</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/app/Views/favicon-16x16.png">
</head>
<body>
<h1>Top headlines from <a href="https://techcrunch.com/" target="_blank">TechCrunch.com</a></h1>
{% for article in articles %}
<ul>
    <li>
        <img src="{{ article.urlToImage }}>" alt="a beautiful image">
        <a href="{{ article.url }}" target="_blank"><h2>{{ article.title }}</h2></a><br>
        {{ article.description }}<br>
    </li>

</ul>
{% endfor %}

</body>
</html>